body {
    font-family: 'Marcellus', serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaee;
}

header {
    font-family: 'Marcellus', sans-serif;
    display: flex;
    align-items: center;
    color: #3081b7;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

.logo{
   margin-right: auto; 
}

nav{
    margin-left: auto;
    display: flex;
}

header nav a {
    color: #3081b7;    
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    justify-content: right;
}

header nav a:hover {
    color: #003366;   
}


.hero {
    background: transparent;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A7C7E7;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
}


button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #00509e;
}


